body{
    display: grid;
    grid-template-columns: 100px auto auto;
    grid-template-areas: 
    'header header header'
    'aside main main'
    'aside footer footer';
    grid-template-rows: 0.5fr 3fr 0.5fr;
    

}
header {
    background-color: green;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

aside {
    background-color: white ;
    grid-area: aside;
    grid-template-rows: auto;
}

main{ background-color: indianred;
grid-area: main;
size: 1000px 650px;
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
}

footer{
    grid-area: footer;
    background-color: indianred;
}

header img{border-radius: 50%;}



